<dict><key>#DropTables</key><array><dict><key>Signature</key><string></string><key>TableId</key><string></string></dict><dict><key>Signature</key><data></data><key>TableId</key><data></data></dict></array><key>#GenerateCpuStates</key><true/><key>#CpuMaxMultiplier</key><integer></integer><key>#CpuMinMultiplier</key><integer></integer><key>#PatchOemTableOnly</key><true/><key>#PatchSsdtTableOnly</key><true/><key>#DropOemTableOnly</key><true/><key>#Patches</key><array><dict><key>Comment</key><string></string><key>Disabled</key><false/><key>Find</key><data></data><key>Replace</key><data></data></dict></array><key>Preferences</key><dict><key>Debug</key><false/><key>HookLoadImage</key><true/><key>Off</key><false/><key>SaveLogToFile</key><true/><key>SaveLogToDeviceTree</key><false/><key>SaveLogToNvram</key><false/></dict></dict>