<dict><key>#DriversPath</key><string></string><key>#DriversList</key><array><string></string></array><key>#LoaderPath</key><string></string><key>#ShellPath</key><string></string><key>#NoVerbose</key><false/><key>#PatchMatchingPdbName</key><false/><key>#Patches</key><array><dict><key>Comment</key><string></string><key>Disabled</key><true/><key>Find</key><data></data><key>Replace</key><data></data></dict></array><key>#ClearNvram</key><dict><key></key><array><string></string></array></dict><key>Preferences</key><dict><key>Debug</key><false/><key>Off</key><false/><key>SaveLogToFile</key><true/><key>SaveLogToDeviceTree</key><false/></dict></dict>